<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center" style="margin-left: 2rem !important;margin-right: 2rem !important;">
      <span style="color: #fff; font-size: 22px;">© 2021 Kallos Beach Club</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" style="margin-left: 2rem !important;margin-right: 2rem !important;">
      <li class="ms-3" style="color: #fff; font-size: 22px;"><i class="fab fa-facebook-square"></i></li>
      <li class="ms-3" style="color: #fff; font-size: 22px;"><i class="fab fa-instagram-square"></i></li>
      <li class="ms-3" style="color: #fff; font-size: 22px;"><i class="fab fa-twitter-square"></i></li>
    </ul>
</footer>